{% extends "base.html" %}
{% block title %}Mare order{% endblock %}
{% block content %}
    <h1>Make order</h1>
    <div class="media content-section">
        <div class="media-body">
            <h3>Your order, {{ request.user.username }}</h3>
            <ul>
                {% for item in cart%}
                    <li>
                        {{ item.quantity }}x {{ item.product.title}}
                    </li>
                {% endfor %}
            </ul>
            <p>To pay: {{ cart.get_total_price }} coins</p>
        </div>
    </div>

    <form action="created" method="post" class="media-body">
        {{ form.as_p }}
        <p><input type="submit" class="btn btn-outline-info" value="Make order"></p>
        {% csrf_token %}
    </form>
{% endblock %}