{% extends "base.html" %}
{% block content %}
    <style>
      .leftimg {
            float:left;
            margin: 7px 7px 7px 0;
           }
    </style>
    <article class="media content-section">
    <div class = "media-body">
        <h3>Pizzeria contacts</h3>
        <div class="article-metadata">
            <p><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/2048px-Octicons-mark-github.svg.png" width="30" alt="Lights" class="leftimg"><b>GitHub:</b>  https://github.com/morozooff</p>
        </div>
        <div class="article-metadata">
            <p><img src="https://t4.ftcdn.net/jpg/05/33/02/75/360_F_533027553_cRJyFTwfKk10QzdGNpkuNzrPQCBq3DKh.jpg" width="40" alt="Lights" class="leftimg"><b>Mail:</b> @jar1m1140@gmail.com</p>
        </div>
        <div class="article-metadata">
            <p><img src="https://cdn-icons-png.flaticon.com/512/4701/4701496.png" width="30" alt="Lights" class="leftimg"><b>Telegram:</b> @morozoff_yarik</p>
        </div>
    </div>
    </article>
{% endblock content %}